
<% provide(:title, 'Mission + About') %>

   <div id="homepage">

    <div class="span4">

        <div class="paragraph"></div>
        <div class="paragraph"></div>

        <div class="img"><%= link_to image_tag("nca.jpg"), alt: "lsc" %>
          </div><span class="caption">L.S. Cook</span>

        <div class="paragraph"></div>
        <div class="paragraph"></div>
        <div class="paragraph"></div>
        <div class="paragraph"></div>

      
        <div class="img"><%= link_to image_tag("steveandsue2.png"), alt: "the original eco hippy construction workers" %></div><span class="caption">Sue and Steve, construction workers and eco hippies.</span>

</div>
    
    <div class="span1"></div>
    <div class="span5">

      <h1> Who the heck built this website and why? </h1>

        <h5>Who?</h5>

          <div class="paragraph">
          <div class="alert"> <strong>NOTE</strong>  As of August 2017, Ecosteader is still just a side project; it does not generate income. The Amazon links in the <%= link_to "Bookstore", bookstore_path %>  and <%= link_to "EcoDepot", nodes_path  %>  above have producted a total of about three dollars in the four years I've been working on this.  <br />  <br/>

          I am in the process of filing Ecosteader as a public benefit corp. Proper ecological development is something I care deeply about, and proper ecological consideration does not go hand-in-hand with the interests of private real estate companies. </div>

          Howdy! My name is Leona, and I'm the lead developer and founder of Ecosteader.   

          Here's my story: As the daughter of two nomadic eco-hippies, I and my three brothers grew up in Las Vegas, Alaska, Florida, 
          and Southern Utah.  In every place my family lived, we learned about and championed education and 
          respect for Mother Earth and for all her ecological biodiversity. Our dad (pictured below) was in construction; he hung
          sheetrock. All of us kids considered it a special treat to go
          spend the day on a job site with Dad, doing scrap work.  Our mother cleaned hotel rooms and worked various mostly minimum-wage jobs.</div>

          <div class="paragraph">Growing up, I loved science. My University career began at <%= link_to 'Pacific University', "https://www.pacificu.edu" %>, and finished at <%= link_to 'SUU', "https://www.suu.edu" %>, where I earned a Bachelor's of Science degree (Accountancy) in 2003 and an MBA in 2004, the year my dad passed away.    </div>    

          <div class="paragraph">After graduation, I fell in love with open source software, and spent the 
          better part of the next decade being nomadic on my own, always on the road, living cheap here and there, reading tech
          manuals, and studying big and little cities and communities sprawl and development. Today I'm 
          a <%= link_to 'technologist', 'http://www.hackeress.com' %> and a technical writer who thrives 
          on finding, creating, and/or documenting for efficiencies.  
          </div>

         <br />

 
        <h5>Mission &amp; Vision </h5>

          <div class="paragraph">We are building Ecosteader to embolden and empower a new generation of people committed to fighting the greed and corruption in the real estate industry.
          We're familiar with some of the biggest problems in the construction industry today… probably the biggest problem in the construction industry today is finding reliable workers and growing a company! So most of everything we do here is to help small local businesses localize better.</div>

          <div class="paragraph">Part of that goal is to usher in a new generation of builders: intelligent and creative 
          workers eager to build the neighborhoods and communities of tomorrow. We believe in lean design 
          and green building. We believe in DIRECT owner-owner transactions and cutting out the middleman. 
          We want to save Portland from becoming like San Francisco, a wasteland of outlandish rents and 
          awful crowded commutes. Portland is our beautiful and fair city; we build it, we own it. </div>  

          <div class="paragraph">"How" we are doing this is by empowering people with the information, tools, checklists, and resources they need to transact directly with each other -- buyer to seller -- without getting robbed by middlemen.</div>   
          
          <div class="paragraph"></div>
          <div class="paragraph"></div>
          <div class="paragraph"></div>

      <h5>Dedication</h5>
        <div class="paragraph">
         Ecosteader is dedicated in memory of Sue and Steve Cook.          
        </div> 
       

      </div>

</div>

