<% provide(:title, 'Docs') %>

<div id="homepage">
<div class="span12">

       <h2>Free Templates for Property Sales, Deeds, Purchase Agreements, Title Documents</h2>
       <h3>Designed for Sales involving Owner Equity</h3>  
       <br />

  <div class="span3">

  <div class="paragraph">
      Did you know that if you sign a contract provided by real estate agent / broker, you're 
      essentially signing a promise to surrender your equity to them? The little-known fact is 
      that <%= link_to "Realtor commissions steal the equity in your home", "http://epicfinances.com/realtor-commissions/" %>. Of course, most people don't know this; they fall prey to fear 
      tactics and are easily deceived by smooth-talking agents. Ecosteader wants to change this, and that
      is why these templates are being provided for free.  Before you do ANYTHING with a Realtor or
      salesperson, review our free <%= link_to "Flat-Fee Sales", "http://ecosteader.com/forms/flat-fee-only.pdf" %> document for ideas about how to negotiate and save your earned equity.   
  </div>


      <div class="paragraph"><%= link_to 'Read this Infographic', 'http://ecosteader.com/uploads/idea/image/54/sell-fsbo-xfr-title.png' %> to see how to transfer the title (ownership) on your FSBO transactions with a Deed. </div>
      <div class="paragraph"> You can sell FSBO for free on  <%= link_to "Craigslist REO", "http://portland.craigslist.org/search/reo" %>....be <strong>sure</strong> to use post in the "REO" or Real Estate by OWNER section; the website defaults to the REA or "by agent" option if you try to browse from any city's main craigslist page.</div>  
      
      <div class="paragraph">Variants of these forms have been used successfully in FSBO real estate transactions in Oregon, Arizona, California and Washington state, and they are deemed very reliable as 
      templates. However, they are provided as samples only; please consult with a qualified attorney for any 
      contract nuances in your FSBO transactions.    
      </div>
  

  </div>    

    <div class="span4">

          <div class="img-left"><%= link_to image_tag("ffo-tbnail.png", alt: "thumbnail", width: "120px"), 'http://ecosteader.com/forms/flat-fee-only.pdf' %></div>
           <h1>FLAT-FEE SALES</h1>
           <h4>Owner contract to hire real estate salespeople</h4>
   
        
          <h3>Blank and General </h3>
            <div class="img-left"><%= link_to image_tag("free_po_img-sm.png", alt: "thumbnail", width: "120px"), 'http://ecosteader.com/forms/purchase_offer_blank.pdf' %></div>
           <h1>Purchase Offer and Agreement</h1>
           <h4>Cash Sale: FSBO Parcel or Lot</h4>
           
          <h3>Properties Located in Oregon</h3> 
           <div class="img-left"><%= link_to image_tag("free_po_img-sm.png", alt: "thumbnail", width: "120px"), 'http://ecosteader.com/forms/oregon_statutory_purchase_offer_blank.pdf' %></div>
        <h1>Purchase Offer and Agreement</h1>
        <h4>Cash Sale: FSBO Parcel or Lot</h4>  
        
    </div> 


    <div class="span4">

           <div class="img-left"><%= link_to image_tag("free_po_img-sm.png", alt: "thumbnail", width: "120px"), 'http://ecosteader.com/forms/special_warranty_deed.pdf' %></div>

        <h1>Special Warranty Deed</h1>
        <h4>Generic Form</h4>

       <br /> <br />

           <div class="img-left"><%= link_to image_tag("free_po_img-sm.png", alt: "thumbnail", width: "120px"), 'http://ecosteader.com/forms/special_warranty_deed_oregon_block.pdf' %></div>

        <h1>Special Warranty Deed</h1>
        <h4>Oregon Statutory Notice Included</h4>
    </div>      

</div>

<div class="span12">

       <h2>Free Documents, Contracts, and Worksheets for Home Builders and Remodelers</h2>
       <h3>Helpful Information </h3>  
       <br />

  <div class="span3">

      <div class="paragraph"> 
        <%= link_to image_tag("orccb.svg", alt: "brown_folder"), 'http://ecosteader.com/forms/or-wa-ccb-labor/CCB-application.pdf' %><p>Learn about Oregon CCB</p></div>
  </div>      

  <div class="span3">

      <div class="paragraph"><%= link_to image_tag("orccb.svg", alt: "brown_folder"), 'http://ecosteader.com/forms/or-wa-ccb-labor/HI-AP-.pdf' %><p>Home Inspector Application</p></div>
  </div>

  <div class="span3">
      <div class="paragraph"><%= link_to image_tag("orccb.svg", alt: "brown_folder"), 'http://ecosteader.com/forms/or-wa-ccb-labor/start-business-guide.pdf' %><p>Info provided by Oregon Secretary of State on Starting a Business in Oregon</p></div>
  </div>



  <div class="span3">

  </div>

</div>




  <div class="span12"> 
    <center>   
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- ecosteader greenpages land -->
          <ins class="adsbygoogle"
          style="display:block"
           data-ad-client="ca-pub-5682118050471345"
           data-ad-slot="8458949319"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </center>

    </div>

  
</div>

