<% provide(:title, 'Portland Pages') %>

<!-- begin debug to determine active status upon muliple-selected queries -->
    <%#= @meeting_params.inspect %>    
    <%#= @extra_q.inspect %>    
<!-- end debug -->

<span class="flt-rt">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="35EM4QN628FUL">
        <table>
        <tr><td><input type="hidden" name="on0" value="Buy a Page">Sponsor Ecosteader / Buy a Page</td></tr><tr><td><select name="os0">
            <option value="One Year">One Year $109.00 USD</option>
            <option value="Three Year">Three Year $229.00 USD</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
</span>


<div id="landpage">

<p class="highlight"> Are you a Portland-area labor worker looking to apply your skills where they are most in demand? <%= link_to 'Fill out this form', 'https://docs.google.com/a/hackeress.com/forms/d/1wpTZnxw06paXhGVK4i1jYriNonJfPYH1TfHtaGhUMXs/viewform' %>, and we'll see what we can do to help.</p>



<h1>Portland Pages: Localizing What You Need </h1>
<h2> Everything Relevant </h2>

<p></p>

  <div class="responsive-shorts"> 
    <%= render 'companies/refine' %>
  </div>


<div id="go-south">

<table class="table table-striped">
  <tr>
    <th><%= sort_link(@search, :name, "Company") %></th>
    <th><%= sort_link(@search, :category, "Category") %></th>
    <th>Description</th>
    <th>Image</th>
    <th><%= sort_link(@search, :city, "City") %></th>
    <th><%= sort_link(@search, :state, "State") %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @companies.each do |company| %>
    <tr>
        <td><%= link_to company.name, company_path(company) %></td>
        <td><%= company.category %></td>
        <td><%= markdown(company.description) %></td><!-- About -->
    <% if company.image? %>
        <td><div class="company-thumbnail"><%= image_tag(company.image) %></div></td>
    <% else %>
        <td></td>
    <% end %>
        <td><%= company.city %></td>
        <td><%= company.state %></td>
        <td></td>
        <td></td>
        <%# if signed_in? && current_citizen.company %>
        <% if current_citizen && current_citizen.admin? %>  
        <%# if current_citizen %>  

        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?  You will have to pay again to re-list your company.' } %></td>
        <td></td>
        <td></td>
        <% else %>
        <td></td>
    
    <td><div class="btn btn-primary"><%= link_to 'More Info', company %></div></td>

    <% end %>
  </tr>
<% end %>
</table>

</div>

<% if signed_in? %>

        
    <div class="span4">
     
        <% if current_citizen.can_add_company !=true %>
        <div class="btn btn-primary"><%= link_to 'Add Company Details', new_company_path %></div>

        <%# else %>
        <%#= link_to 'New Company', new_company_path %>
    </div>

        <% end %>
    
    <% else %>

    <div class="span4">
    </div>

    <% end %>
