<% provide(:title, "Say NO to Realtor Fees") %>


 <div id="homepage">
 	<div class="span4">
 		<h5>An Alternative to the MLS</h5>
 		    <div class="paragraph">
 		    	As technology continuously reduces the cost of advertising, researching and selling of any kind, there are a few things to keep in mind when deciding whether to list or buy property with the franchise known as the National Association of Realtors (NAR).  
 		    </div>

  		<h6>Finally, a way to avoid Realtor fees</h6>

  			<div class="paragraph">
  				Part of the Ecosteader mission as an <strong>Efficient &amp; Ethical Listing Entity</strong> (EELE) is to provide an alternative to the Realtor/Broker-dominated Multiple Listing Service (MLS).</div>

  			<div class="paragraph">	
  				 An EELE, such as Ecosteader, provides easily-navigable tools and materials to facilitate more direct communication between buyers and sellers.  An EELE then, does not rely on a commission-hungry "middle man" such as a Realtor or Broker, but rather upon the neutral power of a technology stack, and upon the shared efficiencies of an open marketplace.  
  			</div>
 	</div>	    

 	<div class="span5">
 			<h5>Lobbying by the Realtors' Association 1998 - 2013</h5>
 			<center>
 			<%= link_to image_tag("NAR-lobbying-tens-of-millions.png", alt: "NAR lobbying hundreds of millions of dollars", title: "NAR lobbying") %></center>

 		    <div class="paragraph">	
 		    	Despite the lower costs of advertising and doing business, so-called "Realtor" fees and the "Broker" commission structures have not budged much.  This is largely because the National Association of Realtors (NAR) is <%= link_to "is one of the most powerful lobbying institutions", "https://www.opensecrets.org/orgs/totals.php?id=D000000062&cycle=2012" %> in the US.  Indeed, the NAR was involved in a <strong><%= link_to "squelched antitrust", "http://www.justice.gov/atr/cases/f211700/211751.htm" %></strong> case instigated by the US Department of Justice (DOJ).        
 		    </div>

 		    <h5>"Middle Man" Commissions Blew Up and Burst the Bubble</h5>

   			<%= link_to image_tag("us-housing-index.png", alt: "commissions burst the buttle", title: "inflation") %></center>

   		    <div class="paragraph">
   		    	The MLS makes it much easier for Realtors to engage in <%= link_to 'collusion', 'http://www.nationalnotary.org/bulletin/bulletin_articles/fbi_collusion_fraud_on_the_rise_in_real_estate_transactions.html' %>, while an EELE, such as Ecosteader, makes it far more difficult for them to do so.    
   		    </div>

   		    <div class="paragraph">
   		    	Realtors, mortgage brokers and others who benefit from a "percent of sales price" commission have incentives to artificially inflate prices.  But as we saw in the <%= link_to 'subprime mortgage crisis', 'http://en.wikipedia.org/wiki/Subprime_mortgage_crisis' %> this caused immense harm and damage to many people -- both buyers and sellers -- who had entrusted their "middle men."  The solution, therefore, is to reduce as much as possible -- or eliminate entirely -- the power of  middle men by <strong>empowering</strong> buyers and sellers to communicate directly.     
 		    </div>





    </div>
</div>
