<% provide(:title, "Real Estate is Broken ") %>


<div id="homepage">
   
  <h1>The Problem: Real Estate Is Broken</h1>
    <div class="span3">

          <h5>A Coercion-based Business </h5>
           <%= link_to "Source of Graph Data Below", "http://www.opensecrets.org/orgs/summary.php?id=D000000062&cycle=2016" %>
          
          <div class="paragraph"> 
            Real estate agents are <strong>not</strong> economists with special insights about any market. They are
            not professional carpenters or landscapers. They are not CPAs. They are not plumbers. They are not JD
            degree-holding attorneys. They are not concrete laborers, or electricians, or licensed home 
            inspectors. They are overwhelmingly found to be <%= link_to "criminal conspirators", 'http://old.reddit.com/r/RealtorsSuck' %> who are <%= link_to "the problem making the problem bigger", "http://portlandtribune.com/pt/9-news/376906-262639-housing-expert-portland-problems-on-steroids-" %>. Landlords of Portland erroneously believe that colluding to collecting ever-increasing income is their "right". Is NOT A RIGHT. </div>

          <div class="paragraph">
             Realtors are lobbyists whose business is based on <%= link_to "coercion", "https://definitions.uslegal.com/c/coercion/" %> and what essentially amounts to contract fraud. <%=link_to "In the early 1950's, the U.S. Supreme Court ruled that 6 percent commissions are illegal", 'https://caselaw.findlaw.com/us-supreme-court/339/485.html' %>.

             <blockquote>  This is a civil action brought by the United States to enjoin appellees 1 from engaging in a price-fixing conspiracy in violation of 3 of the Sherman Act, 26 Stat. 209, 15 U.S.C. 3. 2 The core of the case is the charge that the members of the Washington Real Estate Board combined and conspired to fix the commission rates for their services when acting as brokers in the sale, exchange, lease and management of real property in the District of Columbia.

The same conspiracy was charged in a criminal proceeding.</blockquote>  Specifically, rather than make commissions competitive and use the free market system, the Real Estate Boards merely shifted gears; with a bit of manipulative contract fraud they kept the "percent" sign hard-coded into their contracts and claim that using the word "suggested" with the number 6 makes it okay. Clearly the tactics Realtors use accomplish their thievery is very underhanded and deliberate <%= link_to "collusion", "http://
            fortune.com/2015/08/26/real-estate-agent-rip-off/" %> with other agents and brokerages, <%= link_to "kickbacks", "http://criminal-law.freeadvice.com/criminal-law/criminal-law/kickbacks.htm" %> to title companies they hold significant interest in, and with 
            aggressive, expensive lobbying. For example, one of the things they lobby for is laws that 
            require <%= link_to 'buyers of a mortgage', 'http://www.mortgagenewsdaily.com/04042013_cfpb_enforcement_pmi.asp' %> (all customers of Realtors) to pay for the bank's "insurance" on value stolen by REALTOR and BROKER commissions. This scam is called "Private Mortgage Insurance" and is more commonly known as <%= link_to 'PMI', 'https://duckduckgo.com/?q=PMI+scam&t=hc&ia=web' %>, and it is something you can only avoid by removing Realtors from the equation entirely. When Realtors are taking a big fat slice of the "pie" you're buying insurance on, you end up paying more for insurance! Clearly there is <strong>nothing</strong> even remotely ethical about the Realtor's supposed "code of ethics".</div>





          <div class="paragraph">
             How does this happen? Realtors get away with stealing your equity because you let them. 
             They assume that you are stupid, feed anxiety, and will do <strong>anything</strong> and everything 
             to coerce and trap you into signing one of <strong>their</strong> contracts -- their forms, 
             on their terms, tricking you into giving them a percentage of your equity.</div> 

          <div class="paragraph">
             People just don't know that 99 percent of the time, it is better, safer, and orders of 
             magnitude less costly to hire an <strong>attorney</strong> that works on documents for 
             a <strong>flat fee </strong> than it is to engage anybody associated with the Realtor cartel.</strong>  This is a fact that Realtors try desperately to hide, as illustrated here.   
            </div>   

            <div class="img-left"><%= link_to image_tag("ALLREALTORSAREEVIL.png", alt: "NAR lobbying hundreds of millions of dollars", title: "NAR lobbying", width: "550") %><span class="caption">Graph data current through February 2016</span></div><%= link_to "Source of Graph Data Above", "http://www.opensecrets.org/orgs/lobby.php?id=D000000062" %></div>


          <div class="paragraph"> 

    </div>
    <!-- span3 -->

  <div class="span3">

  <h5>More Renters Than Ever</h5>
     <h3>A Perfect Correlation to Lobbying</h3>
      <div class="paragraph">
        Unfortunately, the negative effects of the Realtor cartel are bleeding out and affecting people 
        who don't own. In addition to hyping up "the market" to make bigger commissions, many real estate 
        agencies participate in the immensely profitable business of leasing rental properties for profit, as 
        a means to steal wealth from low-income families. The rental side of real estate is crippled and 
        broken, too: they've devised a system where they collectively force people into signing long-term
        contracts that force them to give up their <strong>future earnings</strong>. <div class="img-left"> 
        <%= link_to image_tag("renters.png", alt: "NAR lobbying", title: "NAR lobbying", width: "550") %></div> 
      </div>   

      <div class="paragraph">
        An illustration of the facts is that we are currently at 
        <%= link_to "the lowest percent of ownership in almost 50 years", "http://www.census.gov/housing/hvs/files/currenthvspress.pdf" %> across the entire USA. Renting has become so profitable that many 
        real estate companies handle property management only: crippling renters' ability to save while 
        enslaving them to ever-increasing rents. People who spend the largest portion of their earnings 
        on rent have a nearly impossible situation when attempting to save enough to buy.   
      </div>

  <h3>Problems Specific To Portland</h3>


      <div class="paragraph">
       Oregon's supposedly "professional" brokerages and agent Realtors have crafted a complex system to 
       defraud those who are too afraid to sell FSBO. They feed fears and exaggerate the dangers of direct
       buyer-seller sales. Their business model gives them ALL REWARD with NO RISK.  
      </div>
  </div><!-- span3 -->      


  <div class="span3">

  <h5>Oregonians being targeted to be Defrauded</h5>

      <div class="paragraph">So how do Oregon Realtors extort good people out of their 
            earned equity and life savings?  <%= link_to 'The US Department of Justice', 'https://www.justice.gov/atr/competition-and-real-estate-state-2' %> has the facts.</div>

      <div class="paragraph">Let's do a quick calculation on a hypothetical example of a Realtor-priced home
      in Portland Metro (Source: Zillow / 09-2016).  To find out just how long it takes a
       family to earn $16,416 of equity in their home, calculate the cost of the interest PLUS the principal. <div class="img-right"><%= link_to image_tag("40months.png", alt: "homeowner-equity", title: "Homeowner equity costs a lot", width: "225"), 'http://www.ajdesigner.com/mortgage.php' %><div class="caption"><%= link_to "click here for large image", 'http://www.ecosteader.com/assets/40months.png'%></div></div> Six percent of an "average" sale may not seem like much in exchange for what they are telling you your property may be worth; however when you look closer at the numbers, the truth emerges. The <strong>you're actually paying over 
       $53,837</strong>, and it you took 40 months to earn that $16.4K of Equity. Likewise, it will take the 
       new owner 3 and a half years before they earn even a penny of their own equity. Realtors have <strong>
       full knowledge</strong> of this loopholed system, and they insist that this is just how it has to be. Indeed, this loophole is what caused the <%= link_to "subprime mortgage crisis", "https://en.wikipedia.org/wiki/Subprime_mortgage_crisis" %>, which cost taxpayers billions of dollars.</div>  

       <div class="paragraph">Unfortunately, there are no laws out there to protect Oregonians from the 
       predatory, unethical behavior of the Landlord-Realtor cartel. On the contrary, there's currently what can only be described as 
       an <%= link_to "insane", "http://www.oregonlaws.org/ors/696.290" %>
       provision in <%= link_to "Oregon Realtor Code", "http://www.oregon.gov/REA/Pages/Index.aspx" %> that 
       actually <strong>prevents</strong> them from returning the money to the parties exchanging value. Even when,
       say, the seller needed an accelerated sale and to have their property sold in one day!  Try to 
       calculate the cost of the Realtors per-hour, and it is nearly impossible to justify the "value" of their involvement.  Indeed, the only way to ensure this insane law doesn't defraud you is to banish all the
       Realtors from your sale at all points.  There are plenty of places you can sell FSBO free. </div>

    <h1>Solution</h1>
      <div class="paragraph">  The long-term solution to get rid of the stranglehold Reators have on the 
      system must be radical. It will involve more than banishing them from our transactions.  It will 
      require building more "for sale" units than "for rent" units. It will require <%= link_to "outlawing or extinguishing HOAs", "https://www.houselogic.com/home-thoughts/how-to-get-rid-of-hoa" %>  ... most cities already have infrastructures and laws, laws and regulations
      that taxpayers have actually voted on. </div>

      <div class="paragraph"> Empowering a diverse mix of people with unemcumbered ownership 
      WILL ensure the ecological health of homes and neighborhoods, and build economic prosperity for everyone who lives in and around Portland Metro.  Remember:  you do NOT need a Realtor to sell or buy.  Read on to...</div>

    <div class="btn btn-primary btn-large"><%= link_to "Learn How", docs_path %></div>
        
  </div>
      
  </div>

